body{
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

@media only screen and (min-width: 700px) {
    .container {
        width: 45%;
    }
  }

.container{
    background-color: white;
    border-radius: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#number-guess, #result, #history {
    max-width: 400px;
    margin: 0 auto;
}

#history {
    margin-top: 16px;
}
  
.banner {
    color: red;
    font-size: 90px;
    font-family: sans-serif;
}

button {
    margin-bottom: 20px;
}

#history {
    padding-bottom: 25px;
}